
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    z-index: 1;

}

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

#menu-checkbox:checked ~ .dimmed {
    display: block;
}



nav {
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
    height: 100%;
    width: 20%;
    color: #000000;
    border: solid 2px;
    top: 0;
    left: 0;
}

nav a {
    display: block;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.mainlink {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 900;
}

.sublink {
    margin-left: 40px;
    margin-top: 5px;
}

.mainlink:hover, .sublink:hover {
    text-decoration: underline;
}

.dimmed {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000000;
    opacity: 0.5;
}

.top-line {
    width: 100%;
    height: 30px;
    background-color: #9B5CF2;
    color: #FFFFFF;
    text-align: center;
    margin-top: -16px;
    font-size: 0.8rem;

}

.top-nav {
    width: 66%;
    display: flex;
    margin: auto;
    align-items: center;
}

.navLogo {
    max-height: 100px;
    width: auto;
    padding-top: 2px;
}

.iconcontainer {
    margin-right: 0;
    margin-left: auto;
}

.search-nav {
    width: 100%;
    height: 3rem;
    background-color: #89BF15;
    display: flex;
    justify-content: center;
    align-items: center;
}



.searchbar {
    display: flex;
    background-color: #FFFFFF;
    width: 40%;
    height: 70%;
    border-radius: 60px;
    align-content: center;
    justify-content: center;
}

.searchbar input {
    border: 0;
    padding-left: 5px;
    margin-left: 10px;
    display: flex;
    width: 80%;
    height: 90%;
    outline: none;
    justify-content: center;
}

.searchbar button {
    background-color: #FFFFFF;
    border: none;
    float: right;
}

.searchicon {
    height: 25px;
    width: auto;
}

.navicon {
    height: 35px;
    width: auto;
    color: #000000;
    border: solid 2px;
    border-radius: 50%;
    padding: 3px;
    object-fit: scale-down;
}

main {
    width: 66%;
    margin: auto;
    height: 100rem;
    padding-top: 30px;
}

.heroImg {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.mainbanner {
    width: 100%;
}

.bannerhover {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0;
}

.bannerhover:hover {
    opacity: 1;
}

footer {
    background-color: #89BF15;
    height: 4rem;
    width: 100%;
}