
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    z-index: 1;

}

a {
    text-decoration: none;
    color: #000000;
}

.hidden {
    display: none;
}

/* --- HEADER --- */



.mainlink {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 900;
}

.sublink {
    margin-left: 40px;
    margin-top: 5px;
}

.mainlink:hover, .sublink:hover {
    text-decoration: underline;
}



.top-line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    background-color: #9B5CF2;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.8rem;
}

.top-line p {
    margin: 0;
}

.top-nav {
    width: 66%;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.navLogo {
    max-height: 85px;
    width: auto;
    padding-top: 2px;
}

.iconcontainer {
    margin-right: 0;
    margin-left: auto;
}

.search-nav {
    width: 100%;
    height: 3rem;
    background-color: #89BF15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 66%;
    display: flex;
    align-items: center;
}

.desktop-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;

}

.nav-wrapper a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.2rem;
  

}

.nav-wrapper a:hover {
    text-decoration: underline;
    text-decoration-color: #F28627;

}




ul {
    list-style: none;
}

ul li {
    padding: 10px;
}

.dropdown {
    position: relative;
   
}

.games-dropdown {
    display: none;
    position: absolute;
    background-color: #89BF15;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown:hover .games-dropdown {
    display: block;
}





.searchbar {
    display: flex;
    background-color: #FFFFFF;
    min-width: 150px;
    max-width: 20%;
    height: 70%;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.searchbar input {
    border: 0;
    padding: 0;
    padding-left: 5px;
    margin-left: 10px;
    display: flex;
    width: 80%;
    height: 90%;
    outline: none;
    justify-content: center;
}

.searchbar button {
    background-color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 10px;
}

.searchicon {
    height: 25px;
    width: auto;
}

.navicon {
    height: 35px;
    width: auto;
    color: #000000;
    border: solid 2px;
    border-radius: 50%;
    padding: 3px;
    object-fit: scale-down;
}

.navicon:hover {
    scale: 1.2;
}

.align-right {
    margin-left: auto;
}

main {
    width: 66%;
    margin: auto;
}

.navLine {
    width: 100%;
    margin-top: 20px;
    border-bottom: solid 2px;
    border-color: #9B5CF2;
}

.navLine p {
    display: inline;
    padding: 5px;
}

.navLine h3 {
    display: inline;
    padding: 5px;
}
.borderbox {
    width: 100%;
    border: solid 1px;
     border-color: #9B5CF2; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px 0 50px 0;
}

.coverImg img {
    width: 300px;
    height: auto;
}

.dropdown-icon {
    height: 1.3rem;
    width: auto;
}

.games-dropdown li {
    border-top: 1px solid #FFFFFF;
}

/* Mobile Menu */

#menu-checkbox {
    display: none;
}


div.mobile-menu {
    display: none;
}

#mobile-dropdown-menu,#menu-checkbox, #explore-checkbox, #mobile-explore-dropdown, #exhi-checkbox, #mobile-exhi-dropdown {
    display: none;
}

#menu-checkbox:checked ~ #mobile-dropdown-menu {
    display: block;
}



#mobile-dropdown-menu {
    padding-top: 20px;
    margin-top: 180px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100dvh;
    background-color: #FFFF;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    z-index: 4;
    animation: slidedown 0.3s ease-in-out;
    transform-origin: top center;
}

#mobile-dropdown-menu a {
    color: #000000;
}

#mobile-dropdown-menu li {
    border-bottom: 1px solid grey;
}

@keyframes slidedown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}



.mouse-pointer {
    cursor: pointer;
}

.mobile-menu-button {
    float: right;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.hamburger-menu {
    content: '';
    width: 40px;
    height: 6px;
    background-color:#000000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before,  .hamburger-menu::after{
    content: '';
    width: 40px;
    height: 6px;
    background-color:#000000;
    position: absolute;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before {
    top: 12px;
}

.hamburger-menu::after {
    bottom: 12px;
}

.mobile-menu-button.open .hamburger-menu::before {
    transform: rotate(45deg) translate(5px, 10px);
}

.mobile-menu-button.open .hamburger-menu::after {
    transform: rotate(-45deg) translate(5px, -10px);
}


.mobile-menu-button.open .hamburger-menu {
    background-color: #89BF15;
}

/* MAIN */


.centered {
    text-align: center;
}



.frontpage ul {
    list-style:disc;
    padding-left: 10px;
}

.frontpage li {
    padding: 0;
}

.front-info-container {
    background-image: url("/images/frontbanner.jpg");
    background-size: cover;
    background-position: center;
 
}

.front-info {
    min-width: 35%;
    max-width: 20vw;
    max-height: 90%;
    background-color: white;
    margin-left: auto;
    padding: 20px;
    box-sizing: border-box;
}

.front-info p, .front-info li {
    font-size: 1vw;
}

.front-info h3 {
    margin-top: 1vw;
    font-size: 1.3vw;
}

.front-info .CTA {
    margin-top: 10px;
}

.news {
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;
}

.news-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}



.news-container .gamescard {
    max-width: 150px;
}

.news-container .cover-card {
    max-width: 150px;
}

.news-title {
    background-color: #9B5CF2;
    color: #FFFFFF;
    padding: 5px
}

.gameInfo {
    padding: 40px;
    width: 50%;
    text-align: left;
}

.coverImg {
    padding: 40px;
}

.coverImg img {
    max-width: 200px;
    height: auto;
}

.CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #9B5CF2;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    text-align: center;
    cursor: pointer;
}

.CTAinfo {
    width: 200px;
    height: 50px;
}

.CTA:hover {
    background-color: #F28627;
}

.heroImg {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
}


.bannerhover {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0;
    margin-top: 10px;

}

.bannerhover:hover {
    opacity: 1;
}

.bannercontainer {

   display: grid;
   grid-template-columns: auto auto;
   justify-content: stretch;
   column-gap: 1%;
}

.bigbanner {
    width: 100%;
}

.smallbanner {
    width: 100%;
    height: auto;
}

.bannerright {
    grid-column: 2/2;
}

.bannerleft {
 grid-column: 1/2;
}

.gamecontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: space-between;
  
}


.gamescard {
    box-shadow: 2px 6px 10px rgba(0,0,0,.5);
    max-width: 200px;
    text-align: center;
    margin: 30px 5px 0px 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gamescard h2 {
    margin: 5px;
}

.gamescard img:hover {
    scale: 1.1;
}

.cover-card {
    max-width: 200px;
    height: auto;
}

.button-container {
    bottom: 0;
}

.addgamesbutton-card {
    width: 80%;
    margin: auto;
    padding: 10px 5px 10px 5px;
}



.bannerheading {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.actiongames .bannerheading {
    background-image: url("/images/actionbanner.jpg");
    background-size: 100%;
    background-position: center;
}

.readmorebutton-card {
    background-color: #F5F5F5;
    color: black;
    width: 80%;
    border: solid black 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px 5px 10px 5px;
}
.readmorebutton-card:hover {
    background-color: #DBDADA;
}

.pay-button {
    max-width: 200px;
    height: 50px;
}

.cartWrapper {
    display: block;
    padding-bottom: 20px;
   
}

.cartHeader {
    display: inline-flex;
    width: 80%;
    align-items:center;
    margin: 20px;
}

.empty-button {
    color: red;
    margin-left: auto;
}

.cartCover {
    max-width: 100px;
    height: auto;
}

.cartWrapper table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px

}

td input {
    max-width: 30px;
}

.cartWrapper th {
    text-align: left;
    border-bottom: solid 2px;
}

.tableline {
        border-top: 2px solid;
    }

.checkoutWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        justify-content: center;
    }

    .checkout-form {
        width: auto;
    }

    .side-info {
        height:fit-content;
        width: fit-content;
        padding: 15px;
    }

.infoPageWrapper {
        display: flex;
    }

    .buttonWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .buttonWrapper h3 {
        color: #FFFFFF
    }

    .continueShopping {
        width: 200px;
        height: 50px;
        background-color: #F5F5F5;
        color: #000000;
        margin-top: 20px;
    }

    .continueShopping:hover {
        background-color: #DBDADA;
    }

    .continueShopping h3 {
        color: #000000;
    }

    .use-more-space {
        margin-top: 20vh;;
        height: 50vh;
        text-align: center;
    }

    .confirmation-wrapper {
        text-align: center;

    }

    .loading-wrapper {
        width: 100%;
        justify-content: center;
    }

    .loading {
        margin: 50px auto 50px auto;
        border: 20px solid #EAF0F6;
        border-radius: 50%;
        border-top: 20px solid #9B5CF2;
        width: 200px;
        height: 200px;
        animation: spinning 4s linear infinite;
        
    }

    @keyframes spinning {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .minus-button, .plus-button {
        background-color: lightgrey;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin: 0 6px;
        border: solid 2px black;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
      }

      .inline {
        display: flex;
        align-items: center;
        font-weight: bolder;
      }

      .relative {
        position: relative;
      }

      .cart-counter {
        position: absolute;
        background-color: #F28627;
        right: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid 2px black;
        border-radius: 50%;
        text-align: center;
        font-weight: bolder;
      }

      .saleInfo {
        display: flex;
      flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin:  5px 20px 20px auto;
    }

    .saleInfo h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
/* about.html */

.aboutlogo {
    width: 350px;
    height: auto;
    padding: 35px 0 35px 0;
}

/* contact.html */

.smallermain {
    width: 40%;
    margin: auto;
}

.sendFormButton{
    max-width: 150px;
    padding: 15px 25px;
    margin: 30px auto 30px
}

.contactform {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.contactform input {
    max-width: 200px;
    height: 1.5rem;
}

.contactform label {
    margin-top: 30px;
}

.contactform .CTA {
    margin-top: 30px;
}

.error-msg {
    color: red;
}

#nameError, #emailError, #msgError {
    display: none;
}

/* FOOTER */

footer {
    background-color: #89BF15;
    width: 100%;
    color: #FFFFFF;
    margin-top: 50px;
}

.footerwrap {
    display: flex;
    justify-content: center;
}

.footericon {
    height: 25px;
    width: auto;
    display: block;
}

.footermain {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.rightfooter, .leftfooter {
    display: flex;;
    flex-direction: column;
    justify-content:space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rightfooter a {
    color: #FFFFFF;
}

@media (max-width: 1150px) {
    .coverImg {
        max-width: auto;
        height: auto;
        margin: 5px;
        padding: 0;
    }

    .saleInfo {
        max-width: 100px;
    }

    .CTAinfo {
        max-width: 120px;
       
    }

    .CTAinfo.checkout-button {
        max-width: 200px;
    }


    


}

@media (max-width: 900px) {

    div.mobile-menu {
        display: block;
    }

    .nav-wrapper {
        width: 90%;
    }

    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
    
    .top-nav {
        width: 90%;
    }

    .contacticon {
        display: none;
    }

    nav {
        width: 100%;
    }

    main {
        width: 90%;
    }

    .searchbar {
        margin-left: auto;
        margin-right: 25px;
    }

    .gamecontainer {
        display: grid;
        grid-template-columns: auto auto;
    }

    footer p {
        font-size: 10px;
    }

    .gamescard, .news-container .gamescard {
        max-width: 100px;
        text-align: center;
        margin: 20px 10px 0px 10px;
        padding: 20px;
    }

    .news-container .gamescard:nth-child(3) {
        display: none;
    }
    


    .news {
        width: auto;
    }

    .frontpage .front-info {
        width: auto;
       margin-left: auto;
    }

    .front-info p, .front-info li {
        font-size: 0.7rem;
    }

    .front-info h3 {
        font-size: 0.7rem;
    }

    .front-info button {
        font-size: 0.7rem;
        width: 90%;
    }

    .gamescard h2 {
        font-size: 16px;
    }
    
    .cover-card, .news-container .cover-card {
        max-width: 100px;
        height: auto;
    }

    .front-info-container {
        background-position: calc(50% + 70px);
    }

    .coverImg {
        max-width: 100px;
        height: auto;
        padding: 10px;
    }

    .coverImg img {
        max-width: 80px;
        height: auto;
    }
    
    .infoPageWrapper p {
        font-size: 10px;
    }
    .infoPageWrapper h3 {
        font-size: 10px;
    }

    .infoPageWrapper h2 {
        font-size: 16px;
    }

    .gameInfo {
        padding: 0px
    }

   .saleInfo .CTAinfo {
        width: 100px;
        height: 30px;
    }

    .saleInfo h2 {
        font-size: 2rem;
    }

 

    .borderbox {
        margin: 50px 5px 50px 5px;
    }

    .front-info.borderbox {
        margin-left: auto;
        margin-right: 0;
    }
    
    .side-info h2 {
        font-size: 10px;
        margin-right: 5px;
    }

    .side-info p {
        font-size: 10px;
    }

    .side-info.borderbox {
        width: fit-content;
    }

    .cartCover {
        max-width: 50px;
        height: auto;
    }

    .checkoutWrapper {
        column-gap: 5px;
    }

    .cartHeader {
        width: 70%;
    }

    .cartWrapper {
        max-width: 100%;
    }

    
}

@media (max-width: 600px) {
    .hide-smallscreen {
        display: none;
    }

}