
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    z-index: 1;

}

a {
    text-decoration: none;
    color: #000000;
}

.hidden {
    display: none;
}

/* --- HEADER --- */

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

#menu-checkbox:checked ~ .dimmed {
    display: block;
}




nav {
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
    height: 100%;
    width: 20%;
    color: #000000;
    border: solid 2px;
    top: 0;
    left: 0;
}

nav a {
    display: block;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.mainlink {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 900;
}

.sublink {
    margin-left: 40px;
    margin-top: 5px;
}

.mainlink:hover, .sublink:hover {
    text-decoration: underline;
}

.dimmed {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000000;
    opacity: 0.5;
}

.top-line {
    width: 100%;
    height: 30px;
    background-color: #9B5CF2;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.8rem;
}

.top-line p {
    margin: 0;
}

.top-nav {
    width: 66%;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.navLogo {
    max-height: 100px;
    width: auto;
    padding-top: 2px;
}

.iconcontainer {
    margin-right: 0;
    margin-left: auto;
}

.search-nav {
    width: 100%;
    height: 3rem;
    background-color: #89BF15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-nav .top-line {
    margin-top: -2px;
}



.searchbar {
    display: flex;
    background-color: #FFFFFF;
    width: 40%;
    height: 70%;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    border: 0;
    padding: 0;
    padding-left: 5px;
    margin-left: 10px;
    display: flex;
    width: 80%;
    height: 90%;
    outline: none;
    justify-content: center;
}

.searchbar button {
    background-color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 10px;
}

.searchicon {
    height: 25px;
    width: auto;
}

.navicon {
    height: 35px;
    width: auto;
    color: #000000;
    border: solid 2px;
    border-radius: 50%;
    padding: 3px;
    object-fit: scale-down;
}

main {
    width: 66%;
    margin: auto;
    padding-top: 30px;
 
}

.navLine {
    width: 100%;
    border-bottom: solid 2px;
    border-color: #9B5CF2;
}

.navLine p {
    display: inline;
    padding: 5px;
}

.navLine h3 {
    display: inline;
    padding: 5px;
}
.borderbox {
    width: 100%;
    border: solid 1px;
    border-color: #9B5CF2;
    margin: 50px 0 50px 0;
}

.coverImg img {
    width: 300px;
    height: auto;
}

/* MAIN */



.gameInfo {
    padding: 40px;
    width: 50%;
    text-align: left;
}

.coverImg {
    padding: 40px;
}

.coverImg img {
    max-width: 200px;
    height: auto;
}

.CTA {

    color: #FFFFFF;
    background-color: #9B5CF2;
    border: solid black 1px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
}

.CTAinfo {
    width: 200px;
    height: 50px;
}

.CTA:hover {
    background-color: #F28627;
}

.heroImg {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
}


.bannerhover {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0;
    margin-top: 10px;

}

.bannerhover:hover {
    opacity: 1;
}

.bannercontainer {

   display: grid;
   grid-template-columns: auto auto;
   justify-content: stretch;
   column-gap: 1%;
}

.bigbanner {
    width: 100%;
}

.smallbanner {
    width: 100%;
    height: auto;
}

.bannerright {
    grid-column: 2/2;
}

.bannerleft {
 grid-column: 1/2;
}

.gamecontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-content: space-between;
  
}


.gamescard {
    border: solid 1px black;
    max-width: 200px;
    text-align: center;
    margin: 30px 5px 0px 5px;
    padding: 20px;
}

.cover-card {
    max-width: 200px;
    height: auto;
}

.addgamesbutton-card {
    width: 70%;
    margin: auto;
    padding: 5px;
}



.bannerheading {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.actiongames .bannerheading {
    background-image: url("/images/actionbanner.jpg");
    background-size: 100%;
    background-position: center;
}

.readmorebutton-card {
    background-color: #F5F5F5;
    width: 70%;
    border: solid black 1px;
    border-radius: 5%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
}
.readmorebutton-card:hover {
    background-color: #DBDADA;
}



.cartWrapper {
    display: block;
    padding-bottom: 20px;
   
}

.cartHeader {
    display: inline-flex;
    width: 80%;
    align-items:center;
    margin: 20px;
}

.cartWrapper h3 {
    margin-left: auto;
    color: red;
}

.cartCover {
    max-width: 100px;
    height: auto;
}

.cartWrapper table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px

}

td input {
    max-width: 30px;
}

.cartWrapper th {
    text-align: left;
    border-bottom: solid 2px;
}

.tableline {
        border-top: 2px solid;
    }

.checkoutWrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 40px;
    }

    .side-info {
        min-height: auto;
        padding: 5px;
    }

.infoPageWrapper {
        display: flex;
    }

    .buttonWrapper {
        display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .buttonWrapper h3 {
        color: #FFFFFF
    }

    .continueShopping {
        width: 200px;
        height: 50px;
        background-color: #F5F5F5;
        color: #000000;
        margin-top: 20px;
    }

    .continueShopping:hover {
        background-color: #DBDADA;
    }

    .continueShopping h3 {
        color: #000000;
    }

    .use-more-space {
        margin-top: 20vh;;
        height: 50vh;
        text-align: center;
    }

    .confirmation-wrapper {
        text-align: center;

    }

    .loading-wrapper {
        width: 100%;
        justify-content: center;
    }

    .loading {
        margin: 50px auto 50px auto;
        border: 20px solid #EAF0F6;
        border-radius: 50%;
        border-top: 20px solid #9B5CF2;
        width: 200px;
        height: 200px;
        animation: spinning 4s linear infinite;
        
    }

    @keyframes spinning {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .minus-button, .plus-button {
        background-color: lightgrey;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin: 0 6px;
        border: solid 2px black;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
      }

      .inline {
        display: flex;
        align-items: center;
        font-weight: bolder;
      }

      .relative {
        position: relative;
      }

      .cart-counter {
        position: absolute;
        background-color: #F28627;
        right: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid 2px black;
        border-radius: 50%;
        text-align: center;
        font-weight: bolder;
      }
    
/* about.html */

.aboutlogo {
    width: 350px;
    height: auto;
    padding: 35px 0 35px 0;
}

/* contact.html */

.smallermain {
    width: 40%;
    justify-items: center;
}

.sendFormButton{
    max-width: 150px;
    margin: 30px auto 30px
}

.contactform {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.contactform input {
    width: 60%;
}

.contactform label {
    margin-top: 30px;
}

.contactform .CTA {
    margin-top: 30px;
}

/* FOOTER */

footer {
    background-color: #89BF15;
    width: 100%;
    color: #FFFFFF;
    margin-top: 50px;
}

.footerwrap {
    display: flex;
    justify-content: center;
}

.footericon {
    height: 40px;
    width: auto;
    display: block;
    padding-top: 10px;
}

.footermain {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.rightfooter a {
    color: #FFFFFF;
}

@media (max-width: 1150px) {
    .coverImg {
        max-width: 70px;
        height: auto;
        padding: 10px;
    }

}

@media (max-width: 900px) {
    
    .contacticon {
        display: none;
    }

    nav {
        width: 100%;
    }

    main {
        width: 90%;
    }

    .gamecontainer {
        display: grid;
        grid-template-columns: auto auto;
    }

    footer p {
        font-size: 10px;
    }

    .gamescard {
        border: solid 1px black;
        max-width: 100px;
        text-align: center;
        margin: 20px 10px 0px 10px;
        padding: 20px;
    }

    .gamescard h2 {
        font-size: 16px;
    }
    
    .cover-card {
        max-width: 100px;
        height: auto;

    }

    .coverImg {
        max-width: 100px;
        height: auto;
        padding: 10px;
    }

    .coverImg img {
        max-width: 80px;
        height: auto;
    }
    
    .infoPageWrapper p {
        font-size: 10px;
    }
    .infoPageWrapper h3 {
        font-size: 10px;
    }

    .gameInfo {
        padding: 0px
    }

    .saleInfo .CTAinfo {
        width: 100px;
        height: 30px;
    }

    .borderbox {
        margin: 50px 5px 50px 5px;
    }
    
    .side-info h2 {
        font-size: 10px;
        margin-right: 5px;
    }

    .cartCover {
        max-width: 50px;
        height: auto;
    }

    .checkoutWrapper {
        column-gap: 10px;
    }

    .cartHeader {
        width: 70%;
    }

    .cartWrapper {
        max-width: 100%;
    }

    
}